<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{input type="text" value=model.name placeholder="Language Name"}}
    <div class="form-group">
      {{input type="text" value=model.displayOrder class="medium" placeholder="Language Theme"}}
      {{input type="text" value=model.theme class="medium" placeholder="Language Display Order"}}
    </div>
    <div class="btn-group">
      <button type="submit" class="primary-button btn small m-r">Save</button>
      {{#link-to "dashboard.languages" class="secondary-button btn small" tagName="button"}}
        Cancel
      {{/link-to}}
    </div>
  </form>
</div>