@mixin box-shadow() { 
  -webkit-box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
  box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
} 
$primary-color: #a7d2cb;
$secondary-color: #f2d388;
$tertiary-color: #c98474;
$quaternary-color: #874c62;
$secondary-darker-color: #D9BA6F;
$white-darker-color: #fafafa;
$white-color: #fff;

@media only screen and (max-width: 500px) {
    .container {
       margin-left: 0;
       margin-right: 0; 
    }
    .nav-list{
      width: 100%;
      margin:0;
      ul {
        width: 100%;
      }
      a {
        text-align: center;
      }
    }
    .nav-list :before{
      right: 15px!important;
    }
}

body {margin:0;padding:0;font-family: 'Crimson Text', serif;}
form{
  input {
    @include box-shadow();
    width: 100%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid $primary-color;
    border-radius: 4px;
    box-sizing: border-box; 
    padding: 10px;
    font-size: 20px;
    color:$quaternary-color;
    &:active,
    &:focus {
    outline: none;
    @include box-shadow();
    }  
  }
}
nav {
  position: fixed;
  top:0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  align-items:center;
  justify-content: space-between;
  z-index: 9999;
  h2 {
    display: inline-block;
    margin-left: 15px;
    color: $tertiary-color;
  }

  div {
    margin-right: 15px;
    align-items:center;
    display: flex;
  }

  .thumb, img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: $secondary-color;
    cursor: pointer;
    }
  a {
    color:$tertiary-color;
    text-decoration: none;    
  }

  .nav-list :before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    right: 0px;
    top: -10px;
    border: 5px solid transparent;
    border-bottom-color: $white-color;
  }

  .nav-list {
   background-color: $white-color;
   position: absolute;
   top:40px;
   right: 0px;
   @include box-shadow();
   ul{
    li{
      &:hover{
        background-color:$white-darker-color;
      }
    }
   }
  }

  .arrow{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    right: 0px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: $tertiary-color;
    cursor: pointer;
  }

  .active {
    border-top-color: $white-color;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      a{
        display: block;
        padding: 7px 30px;
        color: $tertiary-color;
        text-decoration: none;
      }
    }
  }
}
.hide{
  display: none;
}
.container {
    position: relative;
    margin-top: 55px;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      margin-right: 20%;
      margin-left: 20%;
    }
    form{
      width: 100%;
    }
  .card{
    width: 100%;
    @media screen and (min-width: 600px) {
       width: 33.3333333333333333333%;
    }
    height: 160px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
    box-shadow: 0px 0px 1px 0px rgba(167,210,203,1);
    display: inline-block;
    background-color: white;
    color: $tertiary-color;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 40px;
    text-decoration: none;
    &:hover {
      background:$white-darker-color;
    }
    // &:active {
    //   background: #fafafa;
    // }
    // &:focus {
    // background: #fafafa;
    // } 
  }
  .block{
    width: 100%;
    height: 25px;
    @include box-shadow();
    display: inline-block;
    background-color: $white-color;
    color:$tertiary-color;
    display: flex;
    align-items:center;
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
    &:hover {
      background: $white-darker-color;
    }
    // &:active {
    //   background: #fafafa;
    // }
    // &:focus {
    // background: #fafafa;
    // } 
  }
  .btn{
    border:none;
    @include box-shadow();
    display: inline-block;
    color: $tertiary-color;
    display: flex;
    align-items:center;
    text-decoration: none;
    cursor: pointer;
    justify-content:center;
    span{
      line-height: 0.7;
      font-size: 60px;
      margin-bottom: 15px;
    }
  }
  .primary-button{
    background-color: $secondary-color;
    color: $white-color;
    &:hover {
      background-color: $secondary-darker-color;
    }
    &:active {
       fill:#1a82b8;
       background-color:$secondary-darker-color;
    }
    &:focus {
      outline: none;
      fill:#1a82b8;
      background-color:$secondary-darker-color;
    }
  }
  .large{
    width: 100%;
    @media screen and (min-width: 600px) {
       width: 33.3333333333333333333%;
    }
    height: 160px;
    font-size: 40px;
  }
  .long{
    width: 100%;
    height: 50px;
    font-size: 40px;
    span{
      margin: 0;
    }
  }
  .small{
    width: 16%;
    height: 35px;
    font-size: 20px;
  }
  .secondary-button{
    background-color:$quaternary-color;
    color: white;
    &:hover {
      background-color:#6E3349;
    }
    &:active {
       fill:#6E3349;
       background-color:#6E3349;
    }
    &:focus {
      outline: none;
      fill:#6E3349;
      background-color:#6E3349;
    }
  }
  h1,h2{
    color:#c98474;
  }
  p{
    font-size: 21px;
    color: $quaternary-color;
  }
  pre{
    font-size: 21px!important;
    color: $quaternary-color;
  }  
  .medium{
    width: 49%;
  }
  .form-group{
    width: 100%;
    display: flex;
    justify-content:space-between;
  }
  .btn-group{
    display: flex;
    width: 100%;
    justify-content:flex-end;
  }
  .btn-large-group{
    margin-top: 1%;
    display: flex;
    width: 100%;
    justify-content:space-between;
  }
  .m-r{
    margin-right:1%;
  }
  .m-t{
    margin-top:2%;
  }
  textarea{
    width: 100%;
    @include box-shadow();
  }
}
.mce-tinymce{
  margin-top:1%!important;
  margin-bottom:1%!important;
}
.mce-container{
  border: 1px solid $primary-color;
  border-radius: 4px;
  @include box-shadow();
    .mce-toolbar-grp{
      background-color:$primary-color;
    }
    .mce-menubar{
      border: none;
    }
    .mce-btn{
    border:none;
    @include box-shadow();
    display: inline-block;
    background-color: $secondary-color;
    button{
      i{
        color: $white-color!important;
      }
    }
    &:hover {
      background-color:$secondary-darker-color;
    }
    &:active {
      fill:#1a82b8;
      background-color:$secondary-darker-color;
    } 
    &.mce-active {
      fill:#1a82b8;
      background-color:$secondary-darker-color;
      &:hover {
        background-color:$secondary-darker-color;
      }
      &:active {
        fill:#1a82b8;
        background-color:$secondary-darker-color;
      } 
    } 
  }  
}

.block-status{
  padding: 15px;
  p{
    margin: 0;
  }
  ul,ol,p{
    font-size: 21px!important;
    color: $quaternary-color!important;
  }
}
.code{
  pre{
    font-size: 16px!important;
    color: $quaternary-color!important;
    margin: 0;
    padding: 15px;
  }
}
.hint{
  font-size: 14px;
  color: $tertiary-color;
  padding: 15px;
  div{
    margin: 0;
    font-size: 14px;
    color: $tertiary-color;
  }
}
.content{
  div{
    margin: 0;
    font-size: 14px;
    color: $tertiary-color;
  }
  ul,ol,p,li{
    font-size: 21px!important;
    color: $quaternary-color!important;
  } 
}
.header{
  padding-left: 15px;
  h2{
    color:$tertiary-color;
  }
}

.error{
  border: none!important;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 1)!important;
  -moz-box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 1)!important;
  box-shadow: 0px 0px 1px 0px rgba(255, 0, 0, 1)!important;
}

.sub-header{
  font-size: 15px!important;
  color: #c5bec1!important;
  display: flex;
  justify-content:space-between;
}
.login-container{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: $primary-color;
  min-height: 100vh;
  form{
    button{
      border:none;
      @include box-shadow();
      display: inline-block;
      color: $tertiary-color;
      display: flex;
      align-items:center;
      text-decoration: none;
      cursor: pointer;
      justify-content:center;  
      background-color: $secondary-color;
      color: $white-color;
      width: 100%;
      height: 40px;
      font-size: 21px;
      margin-top: 1%;
      &:hover {
        background-color:$secondary-darker-color;
      }
      &:active {
         fill:#1a82b8;
         background-color:$secondary-darker-color;
      }
      &:focus {
        outline: none;
        fill:#1a82b8;
        background-color:$secondary-darker-color;
      }    
    }
  }
}

.public{
  display: block!important;
  h1{
    padding: 15px;
  }
  p{
    padding: 15px;
    margin: 0;
  }
  ul,ol,p{
    font-size: 21px!important;
    color:$quaternary-color!important;
  }
  pre{
    font-size: 16px!important;
    color: $quaternary-color!important;
    margin: 0;
    padding: 15px;
  }
  div{
    font-size: 14px;
    color: $tertiary-color;
    padding: 15px;
    margin: 0;
    font-size: 14px;
  }
  h2{
      color:$tertiary-color;
      padding: 15px;
      margin: 0;
    }
}

.avatar{
  cursor: pointer;
  background-color: $secondary-color;
  border: 3px solid #FFF;
  border-radius: 18px;
  box-shadow: 0 0 2px #888;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
pre.prettyprint{
  border: none!important;
  background-color: #f8f8f8;
  padding: 25px!important;
}

.pagination-buttons{
  width: 100%;
  display: flex;
  justify-content:space-between;
}

#right-arrow {
  position: fixed;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  box-shadow: -2px 0px 1px -2px  rgba(167,210,203,1);
  &:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    transform: rotate(45deg); /* Prefixes... */
    top: 21.5px;
    right: 90.71px;
    @include box-shadow()
  }
  @media only screen and (max-width: 1199px) {
    position: relative;
  }
  @media screen and (min-width: 1200px) {
    top: 32.5%;
    right: 8%;
  }
  @media screen and (min-width: 1500px) {
    top: 32.5%;
    right: 10%;
  }
  &:hover {
    &:after {
      background: $white-darker-color;
    }
  }
  // &:active {
  //   &:after {
  //     background: #fafafa;
  //   }
  // }
  // &:focus {
  //   &:after {
  //     background: #fafafa;
  //   }
  // }   
}
#left-arrow {
  position: fixed;
  width: 141.41px;
  height: 141.41px;
  overflow: hidden;
  box-shadow: 2px 0px 1px -2px  rgba(167,210,203,1);
  &:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    transform: rotate(45deg); /* Prefixes... */
    top: 21.5px;
    left: 90.71px;
    @include box-shadow()
  }
  @media only screen and (max-width: 1199px) {
    position: relative;
  }
  @media screen and (min-width: 1200px) {
    top: 32.5%;
    left: 8%;
  }
  @media screen and (min-width: 1500px) {
    top: 32.5%;
    left: 10%;
  }
  &:hover {
    &:after {
      background: $white-darker-color;
    }
  }
  // &:active {
  //   &:after {
  //     background: #fafafa;
  //   }
  // }
  // &:focus {
  //   &:after {
  //     background: #fafafa;
  //   }
  // }  
}
.ml-90{
  // margin-left: 85%;
}
.mb-10{
  margin-bottom: 10%;
}
.inactive {
  cursor: default;
  box-shadow: none!important;
  &:after {
  display: none;
  }
}