<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{input type="text" value=model.name placeholder="Framework Name" class=(if model.errors 'error')}}
    <div class="btn-group">
      <button type="submit" class="primary-button btn small m-r">Save</button>
      {{#link-to "dashboard.languages.show" model.language.id class="secondary-button btn small" tagName="button"}}
        Cancel
      {{/link-to}}
    </div>
  </form>
</div>