<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{input type="text" value=model.name placeholder="Framework Name"}}
    {{input type="text" value=model.displayOrder  placeholder="Framework Display Order"}}
    <div class="btn-group">
      <button type="submit" class="primary-button btn small m-r">Save</button>
      {{#link-to "dashboard.languages.show" model.language.id class="secondary-button btn small" tagName="button"}}
        Cancel
      {{/link-to}}
    </div>
  </form>
</div>