<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{#each model as |language|}}
  {{#link-to "dashboard.languages.show" language.id class="card"}}
    Ruby
  {{/link-to}}
  {{/each}}
  {{#link-to "dashboard.languages.new" class="add-button large"}}
    <span>+</span>
  {{/link-to}}
{{!--     <div class="code-card">How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember js.</div>
  <div class="code-card add-card"><span>+</span></div> --}}
<!--   <h2>How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember js.</h2>
  <p>How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
  How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects</p>
<div class="code-card">def sedad je kral<br/> puts "wwwww"<br/>end</div>
  <p>How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
  How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects in ember js ember js sow to save nested objects in ember 
How to save nested objects in ember js sow to save nested objects</p>
<span class="hint">hint do do smething good hint do do smething good hint do do smething good</span> -->
</div>