<div class="container">
  {{#each model as |language|}}
    {{#link-to "dashboard.languages.show" language.id class="card"}}
      {{language.name}}
    {{/link-to}}
  {{/each}}
  {{#if admin}}
    {{#link-to "dashboard.languages.new" class="primary-button btn large"}}
      <span>+</span>
    {{/link-to}}
  {{/if}}
</div>