<div class="container">
  {{#each model as |user|}}
  {{#link-to "dashboard.users.edit" user.id class="block"}}
    {{user.email}}
  {{/link-to}}
  {{/each}}
  {{#link-to "dashboard.users.new" class="primary-button btn long"}} 
  <span>+</span>
  {{/link-to}}
</div>
