<div class="container">
 {{#each posts as |post|}}
    {{#link-to "posts.show" post.slug class="block"}}
      {{post.title}}
    {{/link-to}}
  {{/each}}
  <div class="pagination-buttons">
    {{#link-to "frameworks.show"  model.slug (query-params page=navigate.previous_page) class=(if navigate.first 'inactive') id="left-arrow"}}
    {{/link-to}}

    {{#link-to "frameworks.show"  model.slug (query-params page=navigate.next_page)  id="right-arrow" class=(if navigate.last 'inactive')}}
    {{/link-to}}
  </div>
</div>