<script>
  $(document).ready(function() {
    $('pre').each(function(i, block) {
      hljs.highlightBlock(block);
      hljs.configure({
        languages:{language:"html"}
      })
    });
  });
</script>
<div class="container public">
  <h1>{{model.title}}</h1>
  <div class="sub-header"><span>by {{model.author}}</span><span>{{model.date}}</span></div>
  {{model.bodyHtmlSafe}}
</div>