{{#unless loginRoute}}
  {{#nav-bar}}
   {{#if session.isAuthenticated}}
    <img src="/assets/images/avatar.jpg"/>
      {{#drop-down}}
      <ul>
        <li>{{#link-to "dashboard.profile"}}Profile{{/link-to}}</li>
        <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
      </ul>
      {{/drop-down}}
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  {{/nav-bar}}
{{/unless}}
{{outlet}}
