<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{#each model as |language|}}
    {{#link-to "languages.show" language.id class="card"}}
      {{language.name}}
    {{/link-to}}
  {{/each}}
</div>