<div class="container">
  {{#each model as |language|}}
    {{#if language.active}}
      {{#link-to "languages.show" language.slug class="card"}}
        {{language.name}}
      {{/link-to}}
    {{else}}
      <a class="card card-inactive">
        {{language.name}}
      </a>
    {{/if}}
  {{/each}}
</div>