<div class="login-container">
  <form {{action 'authenticate' on='submit'}}>  
    {{input id='identification' value=identification placeholder="Email" type="email"}}
    {{input id='password' value=password placeholder="Password" type="password"}}
    <button type="submit">Login</button>
   </form>
</div>